.container-main {
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 200px;
}
.heading {
    font-size: 30px;
}
.flex-style {
    display: flex;
    justify-content: space-between;
}
.primary-color {
    color: #316FEA;
}
.secondary-color {
    color : #BEC5CC;
}
.form {
    width: 400px;
}
.auth-btn {
    width: 48%;
    border: 1px solid #D3D8DC !important;
    background: none !important;
}
.small-text {
    font-size: 12px;
}
.font-button {
    font-size: 16px;
}
.form-label {
    font-size: 15px;
}
.form-control {
    font-weight: 200 !important;
    font-size: 15px !important;
}
.align-right {
    text-align: right;
}
.btn-transparent {
    border: 1px solid #D3D8DC !important;
    background: none !important;
}
